@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

.MMM-rfacts {
		display: flex;
		justify-content: center;
}
.MMM-rfacts .description {
	font-family: 'Montserrat', sans-serif;
	font-size: 22px;
	max-width: 425px;
}